/* New nav styles... */

.navigation {
  background: #e8e8e8;
  border-bottom: 1px solid #d9d9d9;
  display: block;
  margin: 0;
  padding: 0.25em 1em 0.25em 1em;
  width: 100%;
}

.navigation ul, .navigation ul * {
  list-style: none;
  color: #5c5c5c;
  font-weight: normal;
  display: inline-block;
  margin: 0;
  padding: 0;
  }

.navigation .logocontainer, .navigation .deeplinks, .navigation .searchcontainer, .navigation .social {

  /*

  border: 2px dotted red;
   
   
    */

  display: inline-block;
  margin: 0;
  padding: 0;
  }


.navigation .logocontainer {
  padding-top: 1em;
  margin-right: 4em;
  max-width: 175px;
} 

.navigation .logocontainer img {
  max-width: 100%; 
  } 



.navigation .deeplinks {
  margin-right: 8em;
  font-size: 0.8em;
} 

.navigation .deeplinks a {
  margin: 0.5em;
}

.navigation .social {
 
  }


.navigation .searchcontainer {
  min-width: 175px;
  min-height: 1.5em;
  margin-right: 1em;
} 







.navigation .social img {
  max-height: 30px;
  width: auto;
  margin: 8px 2px 0 2px;
}







/* old styles */

/*    .navigation, .navigation * {
		position: relative;
		z-index: 1;
		padding: 0;
		}
	

		
    .navigation img {
		max-width: 175px;
		}
    
    .navigation ul {
        float: right;
		list-style: none;
		margin-top: 0.25em;
		}
		
    .navigation li, .navigation li img {
		display: inline-block;
		height: 0.5em;
		min-height: 30px;
		width: auto;
		}

	.navigation .sixteencolumn {
          padding: 0.75em;
  		}
  		
    .navigation span {
        position: absolute;
        z-index: 0;		
		display: inline-block;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: #e8e8e8;
		background: #d9d9d9;
		opacity: 0.65;
		
		}




/*

Old styles from the current site...

.navcontainer {
  display: inline-block;
  width: 100%;
  padding: 0.25em;
  position: relative;


v.navcontainer a, .navcontainer * {
  color: white;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

.navcontainer>* {
  position: relative;
  z-index: 10;
}

.navcontainer img {
  display: inline-block;
  background: #A80000;
  width: 18%;
  max-width: 250px;
  padding: 0.75em;
}

.navcontainer ul {
  list-style: none;
  padding: none;
  float: left;
}

.navcontainer img, .navcontainer li {
  margin-right: 2em;

}

.navcontainer li {
  display: inline-block;
  padding: 1.25em 0 0.25em 0;

  /*
  padding: 0.5em;
  margin: 1.5em 1em 0.25em 0;
  float: left;

  */
/*  height: 2.5em;
}

.navcontainer li:first-child {
  margin-left: 0;
  }

.navcontainer .searchcontainer {
  min-width: 20%;
  border: 1px solid #D9D9D9;
  background: white;
  position: relative;
  top: 0.75em;
  height: 1.5em;
}

.navcontainer .searchcontainer * {
  margin: 0;
  padding: 0;
  background: white;
}

.searchcontainer .cse input.gsc-input, .searchcontainer input.gsc-input {
  display: inline-block;
  background-image:none!important;
  width: 100%;
  height: 100%;
  border: none;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}


input.gsc-search-button {
  display: none;
}

td.gsc-clear-button {
    display: none;
}


.navcontainer .navscreen {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: black;
  opacity: 0.7;
  border-bottom: 1px solid black
}

/*

Custom Styles for roscoelabs.com...

*/




/* Navbar styles */







/*  From 
.navcontainer {
  display: inline-block;
  width: 100%;
  padding: 0.25em;
  position: relative;
}

.navcontainer a, .navcontainer * {
  color: white;  
  padding: 0;
  margin: 0;
  font-weight: normal;
}

.navcontainer>* {
  position: relative;
  z-index: 10;
}

.navcontainer img {
  display: inline-block;
  background: #A80000;
  width: 18%;
  max-width: 250px;
  padding: 0.75em;
}

.navcontainer ul {
  list-style: none;
  padding: none;
  float: left;
}

.navcontainer img, .navcontainer li {
  margin-right: 2em;

}

.navcontainer li {
  display: inline-block;
  padding: 1.25em 0 0.25em 0;

  /*
  padding: 0.5em;
  margin: 1.5em 1em 0.25em 0;
  float: left;

  */



  /*

  height: 2.5em;
}

.navcontainer li:first-child {
  margin-left: 0;
  }

.navcontainer .searchcontainer {
  min-width: 20%;
  border: 1px solid #D9D9D9;
  background: white;
  position: relative;
  top: 0.75em;
  height: 1.5em;
}

.navcontainer .searchcontainer * {
  margin: 0;
  padding: 0;
  background: white;
}

.searchcontainer .cse input.gsc-input, .searchcontainer input.gsc-input {
  display: inline-block;
  background-image:none!important;
  width: 100%;
  height: 100%;
  border: none;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}


input.gsc-search-button {
  display: none;
}

td.gsc-clear-button {
    display: none;
}


.navcontainer .navscreen {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: black;
  opacity: 0.7;
  border-bottom: 1px solid black;
}








/* footer styles */

/*
.footer, .footer *, .footer a:visited {
  background: #333333;
  color: white;
  }





  /* blog styles */
/*

#bloghome, .bpostpg {
  background: #ebebeb;
  background: #4d4d4d;
  }


#bloghome *, .bpostpg * {
  color: #ebebeb;

}

.bpostpg .beam:nth-child(2) .twelvecolumn {

  /*Some spaghetti code to help with vertical spacing of blog copy... */
/*
  padding:1em

  }

  /* Media queries */

/*
@media only screen and (max-width: 1300px) {

  .navcontainer ul {
    width: 100%;
    }

  .navcontainer img {
    width: 90%;
    max-width: 375px;
  }


}




@media only screen and (max-width: 800px) {

  .navcontainer .searchcontainer, .navcontainer .searchcontainer * {display: none}

/*
.navcontainer .searchcontainer {
  min-width: 40%;
}

*/
/*
}






